body{
    margin: 0;
    padding: 0px;
}

h1,h2,h3,h4{
    font-family: 'Roboto Slab', serif;
    color: #363958;
    margin:0px ;
    padding: 0px;
}
h1{
    font-size: 60px;
    
}
p{
    font-family: 'Roboto', sans-serif;
    color: #78787F;
    font-size: 18px;
    padding-bottom: 15px;
  
}

.var1 {
    float: left;
    width: 45%;
   
}
.var2{
    width: 45%;
    float: left;
   
}
.top1 .var1 {
 padding-top: 80px;
    margin-right: 100px;
}
.top2 .var1 {
    padding-top: 80px;
    margin-left: 100px;
    
}

img{
 width: 100%;
}

span{
    color: #FF8367;}
section{
    padding: 100px 100px 250px 100px;
    height: 500px;
}
hr {
    height: 3px;
    border: 0px solid gray;
    background-image: linear-gradient( 50deg, #FB7362, #FF438E);
    display: block;
    width: 100%;
}
.link-btn{
    padding: 10px 20px;
    background-image: linear-gradient(#FB7362, #FF438E);
    color: white;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
}
.lastet{
    background-color: #F8F9FC;
}
.lastet h1{
    text-align: center;
    padding-bottom: 80px;
}
.last-child {
    width: 30%;
    float: left;
    padding: 10px;
    margin: 15px;
    text-align: left;
    background-color: #ffffff;
    border-radius: 15px;
  
}
.last-child img{
    width: 100%;
    
}



.contact{
    padding: 0;
    position: relative;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    overflow: hidden;

}
.contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #cc35358c, #1c104000);
    bottom: 0;
}

.contact::after{ content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}
.contact h1{
    
    text-align: center;
    margin-bottom: 20px;
    padding-top: 100px;
    
}
.form-div{
    position: relative;
    padding-bottom: 150px;
    
}
form{
    width: 50%;
    margin: 0 auto;
}

.inputs {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #e000ef;
    border-radius: 15px;
    background-color: #0000000a;
}
.inputs-submit{
    
    padding: 10px 30px;
    margin-bottom: 20px;
    border: 2px solid tomato;
    border-radius: 15px;
    background-color:tomato;
    color: #ffffff;
    font-weight: 700;
    font-size: 1fpx;

}
.form-div {
    z-index: 1;
    position: relative;
}



}